@import '../../consts/base'

.container
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

.bigText
    font-family: 'Coda', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 64px
    color: #fff
    text-align: center

.mediumText
    padding-top: 12px
    font-family: 'Coda', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 40px
    color: #fff
    text-align: center

.blueText
    padding-top: 25px
    font-family: 'Coda', sans-serif
    font-style: normal
    font-weight: 400
    font-size: 36px
    color: #3300FF
    text-align: center
    cursor: pointer